/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

body {
    /* Set minimum viewport height */
    min-height: 100vh;
    /* Parent flex properties */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    width: 100%;
    box-shadow: 0 2px 2px black;
    background-color: white;
    color: black;
    z-index: 99;
    padding: 20px 20px;
    position: fixed;
    /* Parent flex properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    /* Fill all page space */
    flex: 1 0 auto;
    background-color: white;
}

a {
    /* Stop links changing style when clicked */
    text-decoration: none;
    color: inherit;
    display: inline;
}

header nav a {
    padding: 15px;
    margin: 10px;
    border-radius: 35%;
    font-size: 1.2em;
}

header nav a:hover {
    background-color: #E2E2E2 ;
    z-index: 2;
}

li {
    display: inline;
}

/* F6F6F6 */