/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

body {
    /* Set minimum viewport height */
    min-height: 100vh;
    /* Parent flex properties */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    width: 100%;
    box-shadow: 0 2px 2px #dadbdd;
    background-color: white;
    color: #111827;
    z-index: 99;
    padding: 20px 25px;
    position: fixed;
    /* Parent flex properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: #f3f4f6;
    padding-top: 82px;
    /* Child flex properties to fill all page space */
    flex: 1 0 auto;
    /* Parent flex properties */
    display: flex;
    justify-content: center;
    align-content: center;

}

#intro-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100vw;
    padding: 20px 20px;
}

#intro-box div {
    margin: 40px 30px;
    font-size: 1.5rem;
}

#intro-box div h2 {
    margin-bottom: 40px;
}

#play-box {
    display: flex;
    justify-content: space-around;
}

#play-box a {
    padding: 18px;
    border: solid 2px #111827;
    border-radius: 8px;
}

#play-box a {
    transition: opacity ease-in 0.3s;
}

#play-box a:hover {
    opacity: 0.5;
}


#intro-box img {
    display: inline-block;
    margin: 40px 30px;
    height: 80%;
    width: auto;
    border-radius: 5px;
}

a {
    /* Stop links changing style when clicked */
    text-decoration: none;
    color: inherit;
    display: inline;
}

header nav a {
    padding: 15px;
    margin: 10px;
    border-radius: 35px;
    font-size: 1.2em;
    transition: 0.8s;
}

header nav a:hover {
    /* background-color: #E2E2E2; */
    background-color: #dadbdd;
    z-index: 2;
}

li {
    display: inline;
}

/* F6F6F6 */