/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans";
    color: #111827;
    /* Set minimum viewport height */
    min-height: 100vh;
    /* Parent flex properties */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    width: 100%;
    box-shadow: 0 2px 2px #dadbdd;
    background-color: white;
    z-index: 99;
    padding: 20px 25px;
    position: fixed;
    /* Parent flex properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header */
footer {
    width: 100%;
    box-shadow: 0 -2px 2px #dadbdd;
    background-color: white;
    z-index: 99;
    /* Parent flex properties */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer iframe {
    width: 50%;
    flex: 1;
}

.footer-paragraph {
    flex:1;
    text-align: center;
    font-size: 1.35rem;
    line-height: 35px;
}

main {
    background-color: #f3f4f6;
    padding: 82px 0 60px 0;
    /* Child flex properties to fill all page space */
    flex: 1 0 auto;
}

.bold {
    font-weight: bold;
}

#intro-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    width: 100vw;
    padding: 20px 20px 10px 20px;
}

#intro-box div {
    margin: 40px 30px;
    font-size: 1.5rem;
}

#intro-box div h2 {
    margin-bottom: 40px;
}

#play-box {
    display: flex;
    justify-content: space-around;
}

#play-box a {
    padding: 18px;
    border: solid 2px #111827;
    border-radius: 8px;
}

#play-box a {
    transition: opacity ease-in 0.3s;
}

#play-box a:hover {
    opacity: 0.5;
}


#intro-box img {
    display: inline-block;
    margin: 40px 30px;
    height: 80%;
    width: auto;
    border-radius: 5px;
}

a {
    /* Stop links changing style when clicked */
    text-decoration: none;
    color: inherit;
    display: inline;
}

header nav a {
    padding: 15px;
    margin: 10px;
    border-radius: 35px;
    font-size: 1.2em;
    transition: 0.8s;
}

header nav a:hover {
    /* background-color: #E2E2E2; */
    background-color: #dadbdd;
    z-index: 2;
}

li {
    display: inline;
}

/* HRs taken from DEVELOPER MOZILLA */
hr {
    border: none;
    border-top: 3px double #111827;
    color: #111827;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 90%;
    margin: 40px auto;
  }

hr::after {
    background: transparent #f3f4f6;
    content: url('../images/dice-logo.webp');
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -27px;
  }

.section-header {
    margin: 10px 0 30px 0;
    font-size: 1.6rem;
    text-align: center;
}

.center-paragraph {
    text-align: center;
    margin: 0 10%;
    font-size: 1.2rem;
    line-height: 48px;
}

/* F6F6F6 */